In [1]:
import os

# Nombre del archivo que estamos buscando
target_file = 'pmd.csv'

# Buscar recursivamente desde el directorio actual
found_paths = []
for root, dirs, files in os.walk(os.getcwd()):
    if target_file in files:
        found_paths.append(os.path.join(root, target_file))

# Mostrar resultados
if found_paths:
    print(f"✅ Se encontró {target_file} en las siguientes ubicaciones:")
    for path in found_paths:
        print("→", path)
else:
    print(f"❌ No se encontró {target_file} en este proyecto.")

✅ Se encontró pmd.csv en las siguientes ubicaciones:
→ c:\Users\claup\pmd\proyecto\src\data\processed\pmd.csv

In [2]:
import pandas as pd

# Ruta completa al archivo CSV
file_path = r'c:\Users\claup\pmd\proyecto\src\data\processed\pmd.csv'

# Leer el CSV usando punto y coma como separador
df = pd.read_csv(file_path, delimiter=';')

# Mostrar las primeras filas para revisar
df.head()

  Tipo Aeronave    PMD
0          A320   77,0
1          A321   89,0
2          A321   89,0
3          B789  248,0
4          A320   79,0

In [12]:
# Convertir todos los valores de la columna PMD a cadenas (asegurándose de que no haya valores no convertibles)
df['PMD'] = df['PMD'].apply(lambda x: str(x) if pd.notnull(x) else '0')

# Reemplazar comas por puntos en los valores de la columna PMD
df['PMD'] = df['PMD'].apply(lambda x: x.replace(',', '.') if isinstance(x, str) else x)

# Convertir la columna PMD a float
df['PMD'] = pd.to_numeric(df['PMD'], errors='coerce')

In [14]:
# Verificar el tipo de datos en la columna 'PMD' para ver qué valores hay
print(df['PMD'].dtype)

# Revisar una muestra de los primeros valores
print(df['PMD'].head())

# Si los valores son mixtos, convertir a string primero
df['PMD'] = df['PMD'].apply(str)

# Reemplazar comas por puntos en todos los valores de la columna
df['PMD'] = df['PMD'].apply(lambda x: x.replace(',', '.') if isinstance(x, str) else x)

# Convertir la columna PMD a tipo float, manejando valores no numéricos como NaN
df['PMD'] = pd.to_numeric(df['PMD'], errors='coerce')

# Verificar el resultado
print(df['PMD'].head())

float64
0     77.0
1     89.0
2     89.0
3    248.0
4     79.0
Name: PMD, dtype: float64
0     77.0
1     89.0
2     89.0
3    248.0
4     79.0
Name: PMD, dtype: float64

In [17]:
# Agrupar por 'Tipo Aeronave' y obtener el valor máximo de 'Peso_Aeronave' para cada grupo
df_max_peso = df.groupby('Tipo Aeronave')['PMD'].max().reset_index()

# Mostrar el resultado
print(df_max_peso)

    Tipo Aeronave     PMD
0            500S   3.060
1            680A  14.000
2              A1   0.860
3            A109   4.090
4            A119   3.000
..            ...     ...
235          TUCR   5.700
236           UH1   4.767
237          UH60  10.000
238           ULM   0.160
239          XA42   0.950

[240 rows x 2 columns]

In [22]:

df_max_peso

    Tipo Aeronave     PMD
0            500S   3.060
1            680A  14.000
2              A1   0.860
3            A109   4.090
4            A119   3.000
..            ...     ...
235          TUCR   5.700
236           UH1   4.767
237          UH60  10.000
238           ULM   0.160
239          XA42   0.950

[240 rows x 2 columns]

In [25]:
import pandas as pd

# Ordenar el DataFrame por la columna de peso (de menor a mayor)
df_max_peso_sorted = df_max_peso.sort_values(by='PMD', ascending=False)

# Dividir en 3 partes, manteniendo el orden
df_alto = df_max_peso_sorted.iloc[:len(df_max_peso_sorted)//3]  # Los más pesados
df_medio = df_max_peso_sorted.iloc[len(df_max_peso_sorted)//3:2*len(df_max_peso_sorted)//3]  # Medio
df_bajo = df_max_peso_sorted.iloc[2*len(df_max_peso_sorted)//3:]  # Los más livianos

# Mostrar los tres DataFrames
print("DataFrame Alto (más pesados):")
print(df_alto)
print("\nDataFrame Medio:")
print(df_medio)
print("\nDataFrame Bajo (más livianos):")
print(df_bajo)

DataFrame Alto (más pesados):
    Tipo Aeronave    PMD Grupo_Peso
44           B38M  710.0       Alto
61           B748  448.0       Alto
60           B744  413.0       Alto
5            A124  405.0       Alto
68           B77L  387.0       Alto
..            ...    ...        ...
127          CRJ2   24.0       Alto
100          C295   23.0       Alto
144          E35L   23.0       Alto
160          F900   23.0       Alto
132          DA90   22.0      Medio

[80 rows x 3 columns]

DataFrame Medio:
    Tipo Aeronave    PMD Grupo_Peso
128          CRJX  22.00      Medio
139          E145  22.00      Medio
122            CL  21.00      Medio
116          C750  20.00      Medio
147          E550  20.00      Medio
..            ...    ...        ...
30           AS65   4.00      Medio
92           C208   4.00      Medio
210          PAY1   3.95      Medio
108          C510   3.90      Medio
151          EC45   3.80      Medio

[80 rows x 3 columns]

DataFrame Bajo (más livianos):
    Tipo Aeronave   PMD Grupo_Peso
106          C421  3.60       Bajo
199          P212  3.60       Bajo
82           BK17  3.58       Bajo
233          TBM8  3.40       Bajo
234          TBM9  3.30       Bajo
..            ...   ...        ...
39           B206  0.00       Bajo
22           AH6G  0.00       Bajo
94           C212  0.00       Bajo
183          K35E  0.00       Bajo
179          H500  0.00       Bajo

[80 rows x 3 columns]

In [28]:
# Mostrar las filas que contienen ceros en cualquier columna
df_zeros = df_max_peso[df_max_peso.eq(0).any(axis=1)]

# Mostrar las filas con ceros
print(df_zeros)

    Tipo Aeronave  PMD Grupo_Peso
22           AH6G  0.0       Bajo
39           B206  0.0       Bajo
79           BE99  0.0       Bajo
85           C135  0.0       Bajo
94           C212  0.0       Bajo
179          H500  0.0       Bajo
183          K35E  0.0       Bajo